*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 68%;
    background-color: rgb(240, 152, 25, .2);
}

.container {
    padding: 1rem;
    width: 60%;
    height: 93vh;
    margin: 2rem auto;

    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.result {
    display: flex;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2)
}

/****************************
FORM 
****************************/
form {
    width: 40%;
    height: 80vh;
    background-color: rgba(250,250,250);
    position: relative;
}

h2 {
    font-size: 1.5rem;
    margin-top: 15rem;
}

input {
    font-size: 1rem;
    padding: .3rem;
    height: 2.5rem;
    width: 20rem;
    border: none;
    border-left: 3px solid orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
 
input:focus {
    border: none;
    background-color: white;
    border-bottom: 3px solid orange;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;

}

button {
    position: absolute;
    padding: .2rem .4rem;
    color: lightgray;
    border: none;
    background-color: white;
    font-size: 1.5rem;
    top: 50%;
    left: 113%;
    transform: translateY(-25%);
}


/****************************
RESULT
****************************/
#getWeather {
    width: 70%;
    background-color: rgb(251, 148, 85, .4);
}

.getWeather__render {
    display: inline-block;
    margin-top: 50%;
    animation: rotate 2.5s linear infinite;
}

.getWeather__render--icon {
    font-size: 3rem;
    color: rgba(242, 122, 48, .8);
}

.getWeather__result {
    width: 60%;
    height: 28rem;
    margin: 5rem 0 5rem 8.5rem;
    padding: 1rem;
    border: 5px solid #fff;
    border-radius: 3px;
    box-shadow:  0 2px 4px rgba(0,0,0,.2);
    background-image: linear-gradient(to right bottom, rgba(95,138,189), rgba(116,139,192));
    transition: all linear .2s;
}

.getWeather__result:hover {
    transform: translateY(-2px);
    box-shadow:  0 0px 15px rgba(0,0,0,.2);
}

.getWeather__result--top {
    text-align: left;
}

.getWeather__result--top p {
    color: rgba(238,238,238);
}

.result--country {
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
}

.result--country--icon {
    margin-right: .5rem;
    font-size: 1.5rem;
    transform: translateY(-2px);
    color: rgba(238,238,238, .9);
}

.result--des {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: rgba(238,238,238,.1);
}

.result--temp {
    font-size: 3rem;
    font-weight: 700;
    margin: 7.5rem 0 9rem 0;
}

.getWeather__result--bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: .5rem;
}

.getWeather__result--bottom p {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(238,238,238,.8);
}

footer {
    color: gray;
    padding: .5rem;
    margin-right: 0;
}

/****************************
Render animation
****************************/
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(-360deg);
    }
};